// .logo__img {
//   animation: infiniteRotation 5s infinite;
// }

@keyframes infiniteRotation {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0);
  }
}
