.links {
  color: inherit;
  text-decoration: none;
}

.logo__link {
  color: inherit;
  text-decoration: none;
}

// .logo__img {
//   animation: infiniteRotation 1s infinite;
// }
@keyframes infiniteRotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pageBorder {
  0% {
    display: block;
    border-bottom: none;
  }

  100% {
    display: block;
    border-bottom: 4px solid black;
  }
}
