.links {
  color: inherit;
  text-decoration: none;
}

.logo__link {
  color: inherit;
  text-decoration: none;
}

.pages__link.active {
  display: block;
  transform: skewY(-7deg);
  border-bottom: 4px solid brown;
}

.mobile_active.active {
  background: orange;
  width: 100%;
}

// .logo__img {
//   animation: infiniteRotation 5s infinite;
// }

@keyframes infiniteRotation {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0);
  }
}
